<!DOCTYPE html>
<html>
  <head>
    <title> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><SIT 722</h1>
    <p>SIT 722 DevOps Glossary </p>
    <table width="100%" border="1">
      <tr>
        <td>ID</td>
        <td>Term</td>
        <td>Description</td>
        <td>References</td>

      </tr>
      <tr>
        <td>1</td>
        <td>DevOps</td>
        <td>DevOps is a combination of software development (dev) and operations (ops). It is defined as a software engineering methodology which aims to integrate the work of development teams and operations teams by facilitating a culture of collaboration and shared responsibility.</td>
        <td>about.gitlab.com. (n.d.). What is DevOps? [online] Available at: https://about.gitlab.com/topics/devops/#:~:text=DevOps%20is%20a%20combination%20of [Accessed 24 Jul. 2023].
          ‌</td>
        
      </tr>
      <tr>
        <td>2</td>
        <td>Keyboard</td>
        <td>A keyboard is a peripheral device that enables a user to input text into a computer or any other electronic machinery. A keyboard is an input device and is the most basic way for the user to communicate with a computer.</td>
        <td>Techopedia.com. (2019). What is a Keyboard? - Definition from Techopedia. [online] Available at: https://www.techopedia.com/definition/2584/keyboard.
        ‌</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Deployment</td>
        <td>
          Software deployment includes all of the steps, processes, and activities that are required to make a software system or update available to its intended users. Today, most IT organizations and software developers deploy software updates, patches and new applications with a combination of manual and automated processes.</td>
        <td>Sumo Logic (n.d.). What is Software Deployment? | Sumo Logic. [online] Sumo Logic. Available at: https://www.sumologic.com/glossary/software-deployment/.
          <‌/td>

      </tr>
      <tr>
        <td>4</td>
        <td>Developer</td>
        <td>a person or company that creates new products, especially computer products such as software:</td>
        <td>Cambridge Dictionary (2022). developer. [online] @CambridgeWords. Available at: https://dictionary.cambridge.org/dictionary/english/developer.
          ‌</td>

      </tr>
      <tr>
        <td>5</td>
        <td>Quality Assurance</td>
        <td>systematic process of determining whether a product or service meets specified requirements.</td>
        <td>SearchSoftwareQuality. (n.d.). What is Quality Assurance? - Definition from WhatIs.com. [online] Available at: https://www.techtarget.com/searchsoftwarequality/definition/quality-assurance#:~:text=Quality%20assurance%20(QA)%20is%20any.
          ‌</td>

      </tr>
      <tr>
        <td>6</td>
        <td>Operations</td>
        <td>Operations is the work of managing the inner workings of your business so it runs as efficiently as possible. </td>
        <td>Kiisel, T. (2015). What is Operations? And Why Does My Business Need It? [online] OnDeck. Available at: https://www.ondeck.com/resources/what-is-operations.
          ‌</td>

      </tr>
      <tr>
        <td>7</td>
        <td>Agile Methodology</td>
        <td>The Agile methodology is a project management approach that involves breaking the project into phases and emphasizes continuous collaboration and improvement. Teams follow a cycle of planning, executing, and evaluating.</td>
        <td>Atlassian (n.d.). What is Agile? [online] Atlassian. Available at: https://www.atlassian.com/agile#:~:text=What%20is%20the%20Agile%20methodology.
          ‌</td>

      </tr>
      <tr>
        <td>8</td>
        <td>Software</td>
        <td>Software is a set of instructions, data or programs used to operate computers and execute specific tasks. It is the opposite of hardware, which describes the physical aspects of a computer. Software is a generic term used to refer to applications, scripts and programs that run on a device. </td>
        <td>Rosencrance, L. (2021). What is Software? Definition, Types and Examples. [online] TechTarget. Available at: https://www.techtarget.com/searchapparchitecture/definition/software.
          ‌</td>

      </tr>
      <tr>
        <td>9</td>
        <td>Wall of confusion</td>
        <td>It refers to the phenomena where one group in a value stream approaches their job as complete when they’ve passed it onto the next group.</td>
        <td>Kawaguchi, S. (2022). The Wall of Confusion. [online] Medium. Available at: https://levelup.gitconnected.com/the-wall-of-confusion-623057a4dd26.
          ‌</td>

      </tr>
      <tr>
        <td>10</td>
        <td>Cloud</td>
        <td>The definition for the cloud can seem murky, but essentially, it’s a term used to describe a global network of servers, each with a unique function. The cloud is not a physical entity, but instead is a vast network of remote servers around the globe which are hooked together and meant to operate as a single ecosystem.</td>
        <td>azure.microsoft.com. (n.d.). What is the Cloud - Definition | Microsoft Azure. [online] Available at: https://azure.microsoft.com/en-au/resources/cloud-computing-dictionary/what-is-the-cloud [Accessed 24 Jul. 2023].
          ‌</td>

      </tr>
      <tr>
        <td>11</td>
        <td>Prepod</td>
        <td>Preprod is a process by which an organization prepares the environment and infrastructure for each release by performing tests on applications before deployment to production.</td>
        <td>Enov8 (2022). Preprod Done Right: the Definitive Guide. [online] enov8. Available at: https://www.enov8.com/blog/preprod-done-right-the-definitive-guide/#:~:text=Preprod%20is%20a%20process%20by [Accessed 6 Aug. 2023].
          ‌</td>

      </tr>

      <tr>
        <td>12</td>
        <td>configure</td>
        <td>To "configure software" means selecting programmable options that make the program function to the user's liking. To "configure hardware" means assembling desired components for a custom system as well as selecting options in the user-programmable parts of the system.</td>
        <td>PCMAG. (n.d.). Definition of configuration. [online] Available at: https://www.pcmag.com/encyclopedia/term/configuration#:~:text=To%20%22configure%20software%22%20means%20selecting.
          ‌</td>

      </tr>

      <tr>
        <td>13</td>
        <td>Monitor</td>
        <td>Software monitors utilize a collection of code fragments embedded in the operating system, or applications program, to gather performance data. The monitoring software must be kept to a minimum in order that its impact on the running system being measured is minimal.</td>
        <td>www.sciencedirect.com. (n.d.). Software Monitor - an overview | ScienceDirect Topics. [online] Available at: https://www.sciencedirect.com/topics/computer-science/software-monitor#:~:text=Software%20monitors%20utilize%20a%20collection.
          ‌</td>

      </tr>

      <tr>
        <td>14</td>
        <td>Integrate</td>
        <td> integration is the process of connecting one software application with another, typically through their application programming interfaces (APIs).</td>
        <td>Gitlin, J. (2022). What is software integration? Here’s what you should know. [online] Workato. Available at: https://www.workato.com/the-connector/software-integration/#:~:text=Software%20integration%20is%20the%20process.
          ‌</td>

      </tr>

      <tr>
        <td>15</td>
        <td>Build</td>
        <td>a build is a version of a program that, as a rule, is a pre-release version and is identified by a build number rather than by a release number. Simply put, a software build is a set of executable code that is ready for use by customers.</td>
        <td>Software Quality. (n.d.). What is a Build? [online] Available at: https://www.techtarget.com/searchsoftwarequality/definition/build#:~:text=In%20a%20programming%20context%2C%20a [Accessed 6 Aug. 2023].
          ‌</td>

      </tr>

      <tr>
        <td>16</td>
        <td>Release</td>
        <td>a set of changes that updates or adds new functionality to a software product or service.</td>
        <td>LaunchDarkly. (n.d.). Guide: What Is a Software Release? [online] Available at: https://launchdarkly.com/blog/guide-what-is-a-software-release/#:~:text=A%20software%20release%20is%20a [Accessed 6 Aug. 2023].
          ‌</td>

      </tr>

      <tr>
        <td>17</td>
        <td>Test</td>
        <td>the process of evaluating and verifying that a software product or application does what it is supposed to do.</td>
        <td>www.ibm.com. (n.d.). What is Software Testing and How Does it Work? | IBM. [online] Available at: https://www.ibm.com/topics/software-testing#:~:text=Software%20testing%20is%20the%20process.
          ‌</td>

      </tr>

      <tr>
        <td>18</td>
        <td>Delivery</td>
        <td>the entire process of getting a software product to customers, from conceptualization, through development, and ending in the actual purchase and installation of the product's license.</td>
        <td>cpl.thalesgroup.com. (n.d.). Software Delivery Explained | What is Software Delivery. [online] Available at: https://cpl.thalesgroup.com/software-monetization/software-delivery-explained#:~:text=Software%20delivery%20is%20the%20entire.
          ‌</td>

      </tr>

      <tr>
        <td>19</td>
        <td>development</td>
        <td>Software development refers to a set of computer science activities dedicated to the process of creating, designing, deploying and supporting software.

        </td>
        <td>IBM (2019). What is software development? [online] Ibm.com. Available at: https://www.ibm.com/topics/software-development.
          ‌</td>

      </tr>

      <tr>
        <td>20</td>
        <td>Verify</td>
        <td>Reviewing any software for the purpose of finding faults is known as Software Verification. </td>
        <td>GeeksforGeeks. (2021). Verification Methods in Software Verification. [online] Available at: https://www.geeksforgeeks.org/verification-methods-in-software-verification/#:~:text=Reviewing%20any%20software%20for%20the.
          ‌</td>

      </tr>

      <tr>
        <td>21</td>
        <td>Native-cloud</td>
        <td>Applications built for the cloud are made up of a number of tiny, unrelated, and loosely linked services. They are made to provide well-known commercial benefits, such as the capacity to quickly incorporate user feedback for ongoing development. </td>
        <td>www.redhat.com. (n.d.). Understanding cloud-native apps. [online] Available at: https://www.redhat.com/en/topics/cloud-native-apps.
          ‌</td>

      </tr>

      <tr>
        <td>22</td>
        <td>Microservices</td>
        <td>Microservices, sometimes referred to as the microservice architecture, are an architectural design that groups together several services to form an application. An organization can provide huge, complex applications quickly, often, reliably, and sustainably thanks to the microservice architecture. </td>
        <td>Richardson, C. (2017). Microservices.io. [online] microservices.io. Available at: https://microservices.io/.
          ‌</td>

      </tr>

      <tr>
        <td>23</td>
        <td>Authentication</td>
        <td>The process of confirming that someone or something is, in fact, who or what it claims to be is known as authentication. By comparing a user's credentials to those stored in a database of authorized users or on a data authentication server, authentication technology controls access to systems. </td>
        <td>Shacklett, M.E. (2021). What is Authentication? [online] SearchSecurity. Available at: https://www.techtarget.com/searchsecurity/definition/authentication.
          ‌</td>

      </tr>

      <tr>
        <td>24</td>
        <td>Multiple-container</td>
        <td>The multi-container pods are the pods that contain two or more related containers that share resources like network space, shared volumes, etc. and work together as a single unit. </td>
        <td>Bachina, B. (2020). Understanding Multi-Container Pods. [online] Bachina Labs. Available at: https://medium.com/bb-tutorials-and-thoughts/understanding-multi-container-pods-12f5780f3956#:~:text=The%20multi%2Dcontainer%20pods%20are [Accessed 26 Aug. 2023].
          ‌</td>

      </tr>


      <tr>
        <td>25</td>
        <td>Video streaming</td>
        <td> By broadcasting video data in real-time or almost real-time via the internet, video streaming enables viewers to watch videos on their devices without first downloading the whole video file.</td>
        <td>CONTUS VPlayed Blog | The Future Trends & Technologies of Video and Audio Streaming. (2022). What Is Video Streaming And How Does It Work? [online] Available at: https://www.vplayed.com/blog/what-is-video-streaming/.
          ‌</td>

      </tr>


      <tr>
        <td>26</td>
        <td>Web front-end</td>
        <td> Everything a user sees or interacts with on a website when they visit it is called the front end. It is in charge of how an online experience looks and feels overall.</td>
        <td>airfocus.com. (n.d.). What is a Front End (In a Website) - Definition & Development. [online] Available at: https://airfocus.com/glossary/what-is-a-front-end/#:~:text=The%20front%20end%20of%20a.
          ‌</td>

      </tr>


      <tr>
        <td>27</td>
        <td>Back-end database</td>
        <td>A backend database is a centralized data management and archiving system created for a software program, website, or service.
          ‌</td>
          <td>appmaster.io. (n.d.). Reasons Your Business Requires a Backend Database | AppMaster. [online] Available at: https://appmaster.io/blog/business-requires-a-backend-database.</td>

      </tr>

      <tr>
        <td>28</td>
        <td>Infrastructure
        </td>
        <td>The infrastructure that underpins and supports a system or organization. The flow, storage, processing, and analysis of data are supported by the physical and virtual resources that make up information technology infrastructure in computing.
          ‌</td>
          <td>SearchDataCenter. (n.d.). What is infrastructure (IT infrastructure)? - Definition from WhatIs.com. [online] Available at: https://www.techtarget.com/searchdatacenter/definition/infrastructure#:~:text=Infrastructure%20is%20the%20foundation%20or.</td>

      </tr>


      <tr>
        <td>29</td>
        <td>Portal
        </td>
        <td> An Internet site that serves as or seeks to serve as a significant entry point for users when they connect to the Web or that people frequently use as an anchor site is referred to as a portal.  i
          ‌</td>
          <td>WhatIs.com. (n.d.). What is portal? | Definition from TechTarget. [online] Available at: https://www.techtarget.com/whatis/definition/portal#:~:text=1)%20Portal%20is%20a%20term.</td>

      </tr>


      <tr>
        <td>30</td>
        <td>Docker compose
        </td>
        <td> A tool called Docker Compose enables you to create and distribute multi-container applications. You may specify the services in a YAML file using Compose, and you can spin everything up or take it down with just one command.
          ‌</td>
          <td>Docker Documentation. (2022). Use Docker Compose. [online] Available at: https://docs.docker.com/get-started/08_using_compose/.</td>

      </tr>


      <tr>
        <td>31</td>
        <td>Server</td>
        <td> A server is a piece of hardware or software that processes requests sent over a network and answers to them. A client is the device that submits a request and waits for a response from the server. The computer system that accepts requests for online files and transmits those files to the client is referred to as a "server" in the context of the Internet.‌</td>
          <td>Computer Hope (2019). What is a Server? [online] Computerhope.com. Available at: https://www.computerhope.com/jargon/s/server.htm.</td>

      </tr>


      <tr>
        <td>32</td>
        <td>Storage</td>
        <td> Digital data is saved in a data storage device through the process of storage using computer technology. A computer can store data either momentarily or permanently using this approach.</td>
          <td>Techopedia. (2023). Storage. [online] Available at: https://www.techopedia.com/definition/1115/storage#:~:text=What%20Does%20Storage%20Mean%3F [Accessed 16 Sep. 2023].</td>

      </tr>


      <tr>
        <td>33</td>
        <td>Networking</td>
        <td> Computer networking refers to networked computing systems that can share resources and exchange data. These networked devices transmit data through wireless or physical technologies using a set of guidelines known as communications protocols.</td>
        <td>Amazon (n.d.). What is Computer Networking? - Beginner’s Guide to IT Networking - AWS. [online] Amazon Web Services, Inc. Available at: https://aws.amazon.com/what-is/computer-networking/.</td>
      </tr>


      <tr>
        <td>34</td>
        <td>Synchronous communication</td>
        <td> Real-time communication between two or more parties is referred to as synchronous communication. A synchronous communication exchange is essentially a live, interactive conversation between two parties.</td>
        <td>RingCentral UK Blog. (2020). What is Synchronous Communication? Synchronous vs. Asynchronous Communication. [online] Available at: https://www.ringcentral.com/gb/en/blog/definitions/synchronous-communication/.</td>
      </tr>


      <tr>
        <td>35</td>
        <td>Asynchronous communication</td>
        <td>Asynchronous communication is any form of communication in which one party imparts information, followed by a pause while the recipients process it and respond. </td>
        <td>Barron, S. (2020). What Is Asynchronous Communication & How Do You Use It? [online] resources.owllabs.com. Available at: https://resources.owllabs.com/blog/asynchronous-communication.</td>
      </tr>


      <tr>
        <td>36</td>
        <td>Continuous deployment</td>
        <td>Code updates to an application are automatically pushed into the production environment as part of a software development method called continuous deployment. A set of specified tests serve as the engine for this automation. The mechanism directly delivers fresh updates to users of the software after they pass those tests. </td>
        <td>www.ibm.com. (n.d.). What is continuous deployment? | IBM. [online] Available at: https://www.ibm.com/topics/continuous-deployment#:~:text=Continuous%20deployment%20is%20a%20strategy.</td>
      </tr>


      <tr>
        <td>37</td>
        <td>Continuous deployment</td>
        <td>An open source platform called Kubernetes, sometimes known as k8, automates Linux container operations. It does eliminates with a lot of the manual procedures needed for scaling and deploying containerized applications. </td>
        <td>Casey, K. (2020). How to explain Kubernetes in plain English. [online] enterprisersproject.com. Available at: https://enterprisersproject.com/article/2017/10/how-explain-kubernetes-plain-english..</td>
      </tr>


      <tr>
        <td>38</td>
        <td>Terraform</td>
        <td>With the help of HashiCorp Terraform, you can specify both cloud and on-premises resources in human-readable configuration files that you can reuse, distribute, and version. The provisioning and lifecycle management of all of your infrastructure can then be done using a standardized methodology. </td>
        <td>Hashicorp (n.d.). What is Terraform | Terraform | HashiCorp Developer. [online] What is Terraform | Terraform | HashiCorp Developer. Available at: https://developer.hashicorp.com/terraform/intro.</td>
      </tr>


      <tr>
        <td>39</td>
        <td>Terraform</td>
        <td>Changing a variable means altering that object. In computer programming, variables are used to store data that might change and can be utilized in the program at a later time. </td>
        <td>TheSchoolRun. (n.d.). What is a variable in computing? [online] Available at: https://www.theschoolrun.com/what-variable-computing#:~:text=A%20variable%20is%20something%20that.</td>
      </tr>


      <tr>
        <td>40</td>
        <td>Subdirectory</td>
        <td>In a data storage system, a subdirectory is a directory that is located beneath another one, known as a parent directory. A subdirectory in an operating system with a GUI would be a folder inside of another folder. In terms of website creation and hosting, a subdirectory is often a web page that points to additional web pages. </td>
        <td>Azap, B. (2022). What Is a Subdirectory? [online] phoenixNAP IT Glossary. Available at: https://phoenixnap.com/glossary/what-is-a-subdirectory#:~:text=A%20subdirectory%20is%20a%20directory.</td>
      </tr>


      <tr>
        <td>41</td>
        <td>Kubernetes Control Plane</td>
        <td>Clusters and resources like worker nodes and pods are managed via the Kubernetes control plane. Information about cluster activities, internal and external requests, and more is sent to the control plane. </td>
        <td>ARMO. (n.d.). What is the Kubernetes Control Plane? [online] Available at: https://www.armosec.io/glossary/kubernetes-control-plane/#:~:text=The%20Kubernetes%20control%20plane%20manages [Accessed 24 Sep. 2023].</td>
      </tr>


      <tr>
        <td>42</td>
        <td>Kubelet Control Plane</td>
        <td>The main "node agent" that executes on each node is the kubelet. It can use the hostname, a flag to override the hostname, or particular logic for a cloud provider to register the node with the apiserver. </td>
        <td>Kubernetes. (n.d.). kubelet. [online] Available at: https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/#:~:text=The%20kubelet%20is%20the%20primary.</td>
      </tr>


      <tr>
        <td>43</td>
        <td>Kube-proxy</td>
        <td>Every node in the cluster has the Kubernetes agent Kube-Proxy installed on it. It keeps track of modifications made to Service objects and their endpoints. Changes are translated into actual network rules inside the node if they happen </td>
        <td>DevOps Blog. (2023). Kube-Proxy: What Is It and How It Works. [online] Available at: https://kodekloud.com/blog/kube-proxy/ [Accessed 24 Sep. 2023].</td>
      </tr>


      <tr>
        <td>44</td>
        <td>Controller-Manager</td>
        <td>A Kubernetes cluster's continuous control loop is a daemon called the Kubernetes Controller Manager (also known as kube-controller-manager). Through calls to the API Server, the controller keeps track of the cluster's current state and modifies it to match the desired state specified in the declarative configuration of the cluster. </td>
        <td>Komodor. (n.d.). Kubernetes Controller Manager: A Gentle Introduction. [online] Available at: https://komodor.com/learn/controller-manager/ [Accessed 24 Sep. 2023].</td>
      </tr>


      <tr>
        <td>45</td>
        <td>Deployment pipeline</td>
        <td>A deployment pipeline is a set of automated procedures used in software development to swiftly and precisely transfer new code additions and modifications from version control to production. </td>
        <td>PagerDuty. (n.d.). What is a Deployment Pipeline? [online] Available at: https://www.pagerduty.com/resources/learn/what-is-a-deployment-pipeline/#:~:text=In%20software%20development%2C%20a%20deployment.</td>
      </tr>


      <tr>
        <td>46</td>
        <td>Code Repository</td>
        <td> A deployment pipeline is a set of automated procedures used in software development to swiftly and precisely transfer new code additions and modifications from version control to production.</td>
        <td>aloa.co. (n.d.). Code Repository. [online] Available at: https://aloa.co/startup-glossary/terms/code-repository [Accessed 24 Sep. 2023].</td>
      </tr>


      <tr>
        <td>47</td>
        <td>Git push</td>
        <td>Git's method for reassembling a forked history is merging. The git merge command enables you to combine the several development lines produced by git branch into a single branch. </td>
        <td>Atlassian (n.d.). Git Merge | Atlassian Git Tutorial. [online] Atlassian. Available at: https://www.atlassian.com/git/tutorials/using-branches/git-merge#:~:text=Merging%20is%20Git.</td>
      </tr>


      <tr>
        <td>48</td>
        <td>Git pull</td>
        <td>Git pull updates all of the remote tracking branches as well as your local working branch. Running git pull on the branches you are working on locally on a frequent basis is a good idea. </td>
        <td>GitHub. (n.d.). Git Guides - git pull. [online] Available at: https://github.com/git-guides/git-pull.</td>
      </tr>

      <tr>
        <td>49</td>
        <td>Kubernetes Cluster</td>
        <td> A group of machines that run containerized apps is known as a Kubernetes cluster. Applications are packaged with their dependencies and some essential services when they are containerized. They are less heavy and more adaptable than virtual machines.</td>
        <td>VMware. (2022). What is Kubernetes Cluster? | VMware Glossary. [online] Available at: https://www.vmware.com/au/topics/glossary/content/kubernetes-cluster.html.</td>
      </tr>


      <tr>
        <td>50</td>
        <td>Bitbucket</td>
        <td> Git-based code hosting and collaboration software designed for teams is called Bitbucket Cloud. The best-in-class Jira and Trello connectors from Bitbucket are made to assemble the full software team for project execution.</td>
        <td>Atlassian (n.d.). Bitbucket Overview. [online] Bitbucket. Available at: https://bitbucket.org/product/guides/getting-started/overview#a-brief-overview-of-bitbucket.</td>
      </tr>




        
    </table>
  </body>
</html>
